<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid bg-light">
    <!-- -----------------------------------Header start------------------------------------------------ -->
    <div class="row  bg-dark text-white">
        <div class="col mt-3" id="headerData">
        </div>
        <div class="col-auto mt-3">
                <a href="/logout" class="text-muted">Logout</a>
        </div>
    </div>
    <!-- -----------------------------------Header end------------------------------------------------ -->
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
    <!-- -----------------------------------Left panel start------------------------------------------------ -->
    <div class="row">
        <div class="col-2 bg-white">
            <ul class="nav nav-pills flex-column">
                <div sec:authorize="hasRole('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" th:href="@{/admin}">Admin</a>
                    </li>
                </div>
                <div sec:authorize="hasRole('USER')">
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/user}">User</a>
                    </li>
                </div>
            </ul>
        </div>
        <!-- -----------------------------------Left panel end------------------------------------------------ -->
        <div class="col vh-100" style="padding-left: 40px; padding-right: 40px">
            <div class="row">
                <div class="col">
                    <h1>Admin panel</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- -----------------------------------Tabs------------------------------------------------ -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="usersTable-tab" data-bs-toggle="tab"
                                    data-bs-target="#usersTable"
                                    type="button" role="tab" aria-controls="usersTable" aria-selected="true">Users table
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="newUser-tab" data-bs-toggle="tab" data-bs-target="#newUser"
                                    type="button" role="tab" aria-controls="newUser" aria-selected="false">New User
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- -----------------------------------All users tab content------------------------------------------------ -->
                        <div class="tab-pane fade show active border" id="usersTable" role="tabpanel"
                             aria-labelledby="usersTable-tab">
                            <div class="row">
                                <div class="col" style="padding-top: 10px; padding-bottom: 10px; padding-left:35px;">
                                    <h4>All users</h4>
                                </div>
                            </div>
                            <div class="bg-white border-top" style="padding: 20px 35px;">
                                <table class="table table-striped table-borderless" id="adminTable">
                                    <thead>
                                    <tr class="border-top border-bottom">
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- -----------------------------------Modal window edit user------------------------------------------------ -->
                        <div class="modal" tabindex="-1" id="modalEdit" >
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalEditLabel">Edit user</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="idEdit"><strong>ID</strong></label>
                                                    <input type="text" class="form-control" id="idEdit" readonly>
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="firstNameEdit"><strong>First name</strong></label>
                                                    <input type="text" class="form-control" id="firstNameEdit">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="LastNameEdit"><strong>Last name</strong></label>
                                                    <input type="text" class="form-control" id="LastNameEdit">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="emailEdit"><strong>Email</strong></label>
                                                    <input type="text" class="form-control" id="emailEdit">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="usernameEdit"><strong>Username</strong></label>
                                                    <input type="text" class="form-control" id="usernameEdit">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="passwordEdit"><strong>Password</strong></label>
                                                    <input type="password" class="form-control" id="passwordEdit">
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="rolesEdit"><strong>Role</strong></label>
                                                    <select multiple class="form-control" id="rolesEdit">
                                                    </select>
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-primary" id="edit-button">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- -----------------------------------Modal window delete user------------------------------------------------ -->
                        <div class="modal fade" id="modalDelete" role="dialog" aria-labelledby="modalDeleteLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalDeleteLabel">Delete user</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <fieldset disabled>
                                                <div class="form-group">
                                                    <p class="text-center">
                                                        <label for="idDelete"><strong>ID</strong></label>
                                                        <input type="text" class="form-control" id="idDelete">
                                                    </p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">
                                                        <label for="firstNameDelete"><strong>First name</strong></label>
                                                        <input type="text" class="form-control" id="firstNameDelete">
                                                    </p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">
                                                        <label for="lastNameDelete"><strong>Last name</strong></label>
                                                        <input type="text" class="form-control" id="lastNameDelete">
                                                    </p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">
                                                        <label for="emailDelete"><strong>Email</strong></label>
                                                        <input type="email" class="form-control" id="emailDelete">
                                                    </p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">
                                                        <label for="usernameDelete"><strong>Username</strong></label>
                                                        <input type="text" class="form-control" id="usernameDelete">
                                                    </p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-center">
                                                        <label for="rolesDelete"><strong>Role</strong></label>
                                                        <select multiple class="form-control" id="rolesDelete"
                                                                size="2"></select>
                                                    </p>
                                                </div>
                                            </fieldset>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="button" class="btn btn-danger" id="delete-button">Delete
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- -----------------------------------New User tab content------------------------------------------------ -->
                        <div class="tab-pane fade border" id="newUser" role="tabpanel"
                             aria-labelledby="newUser-tab">
                            <div class="row">
                                <div class="col" style="padding-top: 10px; padding-bottom: 10px; padding-left:35px;"><h4>Add
                                    new user</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <form class="add-user-form" id="add-user">
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="firstNameNew"><strong>First name</strong></label>
                                                <input type="text" class="form-control" id="firstNameNew">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="lastNameNew"><strong>Last name</strong></label>
                                                <input type="text" class="form-control" id="lastNameNew">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="emailNew"><strong>Email</strong></label>
                                                <input type="text" class="form-control" id="emailNew">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="usernameNew"><strong>Username</strong></label>
                                                <input type="text" class="form-control" id="usernameNew">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="passwordNew"><strong>Password</strong></label>
                                                <input type="password" class="form-control" id="passwordNew">
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <p class="text-center">
                                                <label for="rolesNew"><strong>Role</strong></label>
                                                <select multiple class="form-control" id="rolesNew" size="2">
                                                </select>
                                            </p>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-success" onclick="addNewUser()">Add new
                                                user
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/admin.js" th:src="@{/js/admin.js}"></script>

</body>
</html>