<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UpdateUser</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="firstName">Имя</label>
  <input type="text" th:field="*{firstName}" id="firstName">
  <br>
  <label for="lastName">Фамилия</label>
  <input type="text" th:field="*{lastName}" id="lastName">
  <br>
  <label for="email">Емэйл</label>
  <input type="email" th:field="*{email}" id="email">
  <br>
  <label for="username">Логин</label>
  <input type="text" th:field="*{username}" id="username">
  <br>
  <label for="password">Пароль</label>
  <input type="password" th:field="*{password}" id="password">
  <br>
  <label for="userCheckBox">Роль: Юзер</label>
  <input type="checkbox" th:field="*{userCheckBox}" id="userCheckBox">
  <br>
  <label for="adminCheckBox">Роль: Админ</label>
  <input type="checkbox" th:field="*{adminCheckBox}" id="adminCheckBox">
  <br>
  <input type="submit" value="Обновить">
</form>

<hr/>
<div sec:authorize="isAuthenticated()">
  <a th:href="@{/logout}">Log out</a>
</div>
<div sec:authorize="isAnonymous()">
  <a th:href="@{/login}">Log in</a>
</div>

</body>
</html>