<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>CreateUser</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
  <label for="firstName">Имя</label>
  <input type="text" th:field="*{firstName}" id="firstName">
  <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
  <br>
  <label for="lastName">Фамилия</label>
  <input type="text" th:field="*{lastName}" id="lastName">
  <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
  <br>
  <label for="email">Емэйл</label>
  <input type="email" th:field="*{email}" id="email">
  <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
  <br>
  <label for="username">Логин</label>
  <input type="text" th:field="*{username}" id="username">
  <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div>
  <br>
  <label for="password">Пароль</label>
  <input type="password" th:field="*{password}" id="password">
  <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
  <br>
  <label for="userCheckBox">Роль: Юзер</label>
  <input type="checkbox" th:field="*{userCheckBox}" id="userCheckBox">
  <br>
  <label for="adminCheckBox">Роль: Админ</label>
  <input type="checkbox" th:field="*{adminCheckBox}" id="adminCheckBox">
  <br>
  <input type="submit" value="Добавить">
</form>

<hr/>
<div sec:authorize="isAuthenticated()">
  <a th:href="@{/logout}">Log out</a>
</div>
<div sec:authorize="isAnonymous()">
  <a th:href="@{/login}">Log in</a>
</div>
</body>
</html>