<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>User page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<!-- -----------------------------------Header start------------------------------------------------ -->
<div class="container-fluid bg-light">
    <div class="row  bg-dark text-white">
        <div class="col mt-3">
            <p><b th:text="${user.email}"></b> with roles:
                <span th:text="${user.getStringRoles()}">Roles</span>
            </p>
        </div>
        <div class="col-auto mt-3">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="text-muted">Logout</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}" class="text-muted">Login</a>
            </div>
        </div>
    </div>
    <!-- -----------------------------------Header end------------------------------------------------ -->
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
    <!-- -----------------------------------Left panel start------------------------------------------------ -->
    <div class="row">
        <div class="col-2 bg-white">
            <div class="d-grid gap-2 mt-2">
                <a th:each="authority : ${#authentication.getAuthorities()}"
                   th:if="${authority.getAuthority().contains('ADMIN')}"
                   class="btn btn-primary" href="/admin" role="button">
                    Admin
                </a>
                <a th:each="authority : ${#authentication.getAuthorities()}"
                   th:if="${authority.getAuthority().contains('USER')}"
                   class="btn btn-primary" href="/user" role="button">
                    User
                </a>
            </div>
        </div>
        <!-- -----------------------------------Left panel end------------------------------------------------ -->
        <div class="col vh-100" style="padding-left: 40px; padding-right: 40px">
            <div class="row">
                <div class="col">
                    <h1>User information page</h1>
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <div class="row border-bottom">
                        <div class="col" style="padding-top: 10px; padding-bottom: 10px; padding-left:20px;">
                            <h4>About user</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col bg-white" style="padding: 20px 20px;">
                            <table class="table table-striped table-borderless">
                                <thead>
                                <tr class="border-top border-bottom">
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${user.getId()}">ID</td>
                                    <td th:text="${user.getFirstName()}">First Name</td>
                                    <td th:text="${user.getLastName()}">Last Name</td>
                                    <td th:text="${user.getEmail()}">Email</td>
                                    <td th:text="${user.getUsername()}">Username</td>
                                    <td th:text="${user.getStringRoles()}">Roles</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>